.top-header {
  width: 100%;
  background-image: url(images/top-header.png);
  object-fit: cover;
  background-position: center;
  position: relative;
  margin-bottom: 60px;
}

a.nav-link,
a.navbar-brand
 {
  color: white;
  font-family: "Playfair display";
  font-size: 24px;

}

a.navbar-brand {
  font-weight: bold;
  margin-left: 10px;
}

a.nav-link {
  margin-left: 40px;
  padding: 10px;
}

a.nav-link:hover,
a.navbar-brand:hover
 {
  background-color: white;
  color: #144106;
  border-radius: 10px;
  font-weight: bold;
}

.navbar-toggler  {
  color: white;
}

h1,
h2 {
  text-align: center;
  color: white;
  font-family: "Playfair display";
}

h1 {
  font-size: 70px;
  margin-bottom: 0px;
  padding-top: 240px;
  font-weight: bolder;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  kerning: 10px;
  margin-top: 10px;
  padding-bottom: 40px;
}

p {
  font-family: "Lato";
  text-align: left;
  color: #144106;
  font-size: 20px;
  padding: 10px;
}

footer {
  text-align: center;
  font-family: "Playfair display";
  font-size: 26px;
  font-weight: bold;
  color: #ffff;
  width: 100%;
  background-image: url(images/top-header.png);
  object-fit: cover;

  padding-bottom: 30px;
  padding-top: 30px;
  border-width: 3px;
  border-color: #144106;
}
.page-title {
  font-family: "Playfair display";
  font-size: 44px;
  text-align: center;
  color: #144106;
  font-weight: bolder;
  padding-bottom: 20px;
}
.home-text {
  border: none;
}

.dropdown-item {
  font-family: "Lato";
  color: #144106;
}

.contact-button-large {
  font-family: "Playfair display";
  font-size: 26px;
  font-weight: bold;
  padding: 30px 70px;
  display: block;
  margin: 0 auto;
  border-radius: 60px;
  border-width: 3px;
  border-color: #144106;
  box-shadow: 2px 2px 2px #144106;
  color: #144106;
  background-color: #d4dfcf;
  text-align: center;
}

.contact-button-large:hover, .contact-button-small:hover {
  background-color: #144106;
  color: white;
}

.contact-button-small {
  font-family: "Playfair display";
  font-size: 16px;
  font-weight: bold;
  padding: 15px 35px;
  display: block;
  margin: 0 auto;
  border-radius: 60px;
  border-width: 3px;
  border-color: #144106;
  box-shadow: 2px 2px 2px #144106;
  color: #144106;
  background-color: #d4dfcf;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;

}

.prof-pic {
  display: block;
  margin: 0 auto;
  margin: 45px;
  margin-top: 70px;
  border-radius: 20px;
  width: 80%;
}

.sub-pic {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 40%;
  margin-bottom: 15px;
}

.contact-image {
  display: block;
  margin: 0 auto;
}

.UKCP-logo {
  margin: 40px;
  width: 80%;
}

.pricing,
.pricing-option {
  font-family: "Lato";
  
  color: #144106;
  padding: 10px;
}

.pricing {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.pricing-option {
  font-size: 18px;
  text-align: left;
}

.specialities-table {
  font-family: "Lato";

  color: #144106;
  font-size: 16px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-email:hover {
  color: inherit;
  text-decoration: underline;
}

.portrait {
  max-width: 60%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}


@media (max-width: 992px) {
  .top-header {
    background-image: none;
    margin-bottom: 20px;
 
  }
  .navbar {
    background-color: rgb(20, 65, 7, 0.8);
  }
  h1, h2 {
    color: #144106;
    padding-left: 5px;
    padding-right: 5px;
  }
  h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
    padding-bottom: 0px;
    
  }
  p, .pricing, .pricing-option {
    font-size: 14px;
  }
  .page-title {
    font-size: 18px;
    margin-top: 20px;
  }
  .home-text {
    width: 100%;
  }
  .contact-button-large {
    display: none;
  }
  .prof-pic {
    display: none;
  }
  .UKCP-logo {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
} 
@media (min-width: 992px) {
  .contact-button-small {
    display: none;
  }
  .portrait {
    display: none;
  }
  .sub-pic {
    display: none;
  }
}